/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
    }

    .container h1 {
        font-size: 50px;
    }

    .form {
        margin-bottom: 60px;
        background-color: #2C0707;
        padding: 30px;
        text-align: center;
    }

    .form label {
        font-size: 20px;
        margin-right: 20px;
    }

    .form input {
        width: 310px;
        height: 40px;
        border-radius: 25px;
        padding: 10px;
    }

    .sendbtn {
        width: 300px;
        height: 30px;
        border-radius: 25px;
        margin-top: 30px;
        background-color: #E57373;
        border-color: #E57373;
        font-size: 20px;
    }

    .sendbtn:hover {
        background-color: #8F4848;
        border-color: #8F4848;
    }

    .btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .backbtn {
        width: 300px;
        height: 30px;
        border-radius: 25px;
        margin-top: 30px;
        background-color: #bc5656;
        border-color: #bc5656;
        font-size: 20px;    
    }

    .backbtn:hover {
        background-color: #E57373;
        border-color: #E57373;
    }

    .backbtn a {
        text-decoration: none;
        color: black;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
    }

    .container h1 {
        font-size: 50px;
    }

    .form {
        margin-bottom: 60px;
        background-color: #2C0707;
        padding: 50px;
    }

    .form label {
        font-size: 20px;
        margin-right: 20px;
    }

    .form input {
        width: 300px;
        height: 40px;
        border-radius: 25px;
        padding: 10px;
        font-size: 20px;
    }

    .sendbtn {
        width: 420px;
        height: 30px;
        border-radius: 25px;
        margin-top: 30px;
        background-color: #E57373;
        border-color: #E57373;
        font-size: 20px;
    }

    .sendbtn:hover {
        background-color: #8F4848;
        border-color: #8F4848;
    }

    .btns {
        display: flex;
        flex-direction: column;
    }

    .backbtn {
        width: 420px;
        height: 30px;
        border-radius: 25px;
        margin-top: 30px;
        background-color: #bc5656;
        border-color: #bc5656;
        font-size: 20px;    
    }

    .backbtn:hover {
        background-color: #E57373;
        border-color: #E57373;
    }

    .backbtn a {
        text-decoration: none;
        color: black;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   
    .container h1 {
        font-size: 60px;
    }
}