/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
    }

    .container h1 {
        font-size: 50px;
    }

    .form {
        margin-bottom: 60px;
        text-align: center;
    }

    .form label {
        font-size: 20px;
        margin-right: 20px;
    }

    .form input {
        width: 310px;
        height: 40px;
        padding: 10px;
    }

    .sendbtn {
        width: 300px;
        border: none;
        padding: 12px 40px;
        color: white;
        background-color: #2C0707;
        font-size: 15px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        margin-top: 15px;
    }

    .sendbtn:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top: -5px;
        left: -5px;
        border-top: 2px solid #E57373;
        border-left: 2px solid #E57373;
        transition: all 0.25s;
    }
      
    .sendbtn:hover:before,
    .sendbtn:hover:after {
        height: 100%;
        width: 100%;
    }
      
    .sendbtn:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #E57373;
        border-right: 2px solid #E57373;
        transition: all 0.25s;
    }

    .btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .backbtn {
        width: 100%;
        border: none;
        padding: 12px 40px;
        background-color: #E57373;
        font-size: 15px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        margin-top: 15px;
    }

    .backbtn:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top: -5px;
        left: -5px;
        border-top: 2px solid #E57373;
        border-left: 2px solid #E57373;
        transition: all 0.25s;
    }
      
    .backbtn:hover:before,
    .backbtn:hover:after {
        height: 100%;
        width: 100%;
    }
      
    .backbtn:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #E57373;
        border-right: 2px solid #E57373;
        transition: all 0.25s;
    }

    .backbtn a {
        text-decoration: none;
        color: black;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
    }

    .container h1 {
        font-size: 50px;
    }

    .form {
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form input {
        width: 300px;
        height: 40px;
        padding: 10px;
        font-size: 20px;
    }

    .sendbtn {
        width: 300px;
        border: none;
        padding: 12px 40px;
        color: white;
        background-color: #2C0707;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        margin-top: 15px;
    }

    .sendbtn:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top: -5px;
        left: -5px;
        border-top: 2px solid #E57373;
        border-left: 2px solid #E57373;
        transition: all 0.25s;
    }
      
    .sendbtn:hover:before,
    .sendbtn:hover:after {
        height: 100%;
        width: 100%;
    }
      
    .sendbtn:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #E57373;
        border-right: 2px solid #E57373;
        transition: all 0.25s;
    }

    .btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .backbtn {
        width: 100%;
        border: none;
        padding: 12px 40px;
        background-color: #E57373;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        margin-top: 15px;
    }

    .backbtn:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top: -5px;
        left: -5px;
        border-top: 2px solid #E57373;
        border-left: 2px solid #E57373;
        transition: all 0.25s;
    }
      
    .backbtn:hover:before,
    .backbtn:hover:after {
        height: 100%;
        width: 100%;
    }
      
    .backbtn:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #E57373;
        border-right: 2px solid #E57373;
        transition: all 0.25s;
    }

    .backbtn a {
        text-decoration: none;
        color: black;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container h1 {
        font-size: 60px;
    }
}