/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .container h1 {
        font-size: 50px;
        margin: 20px 0 20px 0;
    }

    .container h2 {
        font-size: 40px;
        margin: 0 0 20px 0;
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form input {
        margin-bottom: 20px;
        width: 300px;
        height: 50px;
        padding: 10px;
        font-family: Helvetica, 'FontAwesome', sans-serif;    
    }

    .form button {
        width: 300px;
        height: 50px;
        border: none;
        padding: 12px 40px;
        background-color: #2C0707;
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        margin-bottom: 20px;
    }

    .form button:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top: -5px;
        left: -5px;
        border-top: 2px solid #8F4848;
        border-left: 2px solid #8F4848;
        transition: all 0.25s;
    }
      
    .form button:hover:before,
    .form button:hover:after {
        height: 100%;
        width: 100%;
    }
      
    .form button:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #8F4848;
        border-right: 2px solid #8F4848;
        transition: all 0.25s;
    }

    .links {
        display: flex;
        justify-content: space-between;
        width: 270px;
        padding: 20px 0 20px 0;
    }

    .links a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    .backBtn {
        width: 300px;
        height: 50px;
        border: none;
        padding: 12px 40px;
        background-color: #E57373;
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
    }

    .backBtn:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top: -5px;
        left: -5px;
        border-top: 2px solid #8F4848;
        border-left: 2px solid #8F4848;
        transition: all 0.25s;
    }
      
    .backBtn:hover:before,
    .backBtn:hover:after {
        height: 100%;
        width: 100%;
    }
      
    .backBtn:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #8F4848;
        border-right: 2px solid #8F4848;
        transition: all 0.25s;
    }

    .backBtn a {
        text-decoration: none;
        color: black;
    } 
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        margin-bottom: 30px;
    }

    .container h1 {
        font-size: 55px;
        margin: 20px 0 20px 0;
    }

    .container h2 {
        margin: 0 0 20px 0;
    }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form input {
        margin-bottom: 20px;
        width: 320px;
        height: 50px;
        padding: 10px;
        font-family: Helvetica, 'FontAwesome', sans-serif;    
    }

    .form button {
        width: 320px;
        height: 50px;
        border: none;
        padding: 12px 40px;
        background-color: #2C0707;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        margin-bottom: 20px;
    }

    .form button:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top: -5px;
        left: -5px;
        border-top: 2px solid #8F4848;
        border-left: 2px solid #8F4848;
        transition: all 0.25s;
    }
      
    .form button:hover:before,
    .form button:hover:after {
        height: 100%;
        width: 100%;
    }
      
    .form button:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #8F4848;
        border-right: 2px solid #8F4848;
        transition: all 0.25s;
    }

    .links {
        display: flex;
        justify-content: space-between;
        width: 290px;
        padding: 20px 0 20px 0;
    }

    .links a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    .backBtn {
        width: 320px;
        height: 50px;
        border: none;
        padding: 12px 40px;
        background-color: #E57373;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
    }

    .backBtn:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top: -5px;
        left: -5px;
        border-top: 2px solid #8F4848;
        border-left: 2px solid #8F4848;
        transition: all 0.25s;
    }
      
    .backBtn:hover:before,
    .backBtn:hover:after {
        height: 100%;
        width: 100%;
    }
      
    .backBtn:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #8F4848;
        border-right: 2px solid #8F4848;
        transition: all 0.25s;
    }

    .backBtn a {
        text-decoration: none;
        color: black;
    } 
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .form button {
        font-size: 20px;
    }

    .backBtn {
        font-size: 20px;
    }
}