/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero {
        width: 100%;
        height: 200px;
        background-image: url("../../assets/images/hero/wp2382683.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .delivery {
        display: flex;
        justify-content: center;
    }

    .deliverytitle {
        color: white;
        text-align: center;
        font-size: 50px;
    }

    .form {
        background-color: #E57373;
        width: 340px;
        margin-bottom: 30px;
        padding: 20px;
        font-size: 20px;
    }

    .form form > div {
        display: flex;
        flex-direction: column;
    }

    .form label {
        padding: 10px 0 10px 0;
    }

    .form input {
        height: 40px;
        padding: 10px;
        border: white;
        font-size: 18px;
    }

    .form textarea {
        padding: 10px;
        border: white;
        font-size: 18px;
    }

    .form input:focus {
        border: white;
    }

    .finishbtn {
        width: 100%;
        border: none;
        padding: 12px 40px;
        background-color: #2C0707;
        color: white;
        font-size: 15px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        margin-top: 15px;
    }

    .finishbtn:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top: -5px;
        left: -5px;
        border-top: 2px solid #2C0707;
        border-left: 2px solid #2C0707;
        transition: all 0.25s;
    }
      
    .finishbtn:hover:before,
    .finishbtn:hover:after {
        height: 100%;
        width: 100%;
    }
      
    .finishbtn:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #2C0707;
        border-right: 2px solid #2C0707;
        transition: all 0.25s;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hero {
        width: 100%;
        height: 200px;
        background-image: url("../../assets/images/hero/wp2382683.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .delivery {
        display: flex;
        justify-content: center;
    }

    .deliverytitle {
        color: white;
        text-align: center;
        font-size: 50px;
    }

    .form {
        background-color: #E57373;
        width: 510px;
        margin-bottom: 30px;
        padding: 20px;
        font-size: 20px;
    }

    .form form > div {
        display: flex;
        flex-direction: column;
    }

    .form label {
        padding: 10px 0 10px 0;
    }

    .form input {
        height: 40px;
        padding: 10px;
        border: white;
        font-size: 20px;
    }

    .form textarea {
        padding: 10px;
        border: white;
        font-size: 20px;
    }

    .form input:focus {
        border: white;
    }

    .finishbtn {
        width: 100%;
        border: none;
        padding: 12px 40px;
        background-color: #2C0707;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        margin-top: 15px;
    }

    .finishbtn:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top: -5px;
        left: -5px;
        border-top: 2px solid #2C0707;
        border-left: 2px solid #2C0707;
        transition: all 0.25s;
    }
      
    .finishbtn:hover:before,
    .finishbtn:hover:after {
        height: 100%;
        width: 100%;
    }
      
    .finishbtn:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #2C0707;
        border-right: 2px solid #2C0707;
        transition: all 0.25s;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .form {
        width: 700px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .deliverytitle {
        font-size: 60px;
    }

    .form {
        width: 800px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .deliverytitle {
        font-size: 70px;
    }
}