/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .darkBG {
        background-color: rgba(0, 0, 0, 0.555);
        width: 100vw;
        height: 100vh;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
    }
      
    .centered {
        z-index: 10001;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
      
    .modal {
        width: 320px;
        background: white;
        color: white;
        z-index: 10;
        border-radius: 16px;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    }
      
    .modalHeader {
        background: white;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        color: black;
    }
      
    .heading {
        font-weight: 500;
        font-size: 40px;
        text-align: center;
        margin-bottom: 0;
    }
      
    .modalContent {
        padding: 10px;
        font-size: 18px;
        color: black;
        margin-bottom: 10px;
    }

    .modalContent input, 
    .modalContent select,
    .modalContent textarea {
        font-size: 17px;
        border: 1px solid black;
    }

    .require {
        text-align: center;
    }

    .hr {
        width: 90%;
    }

    .container {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
    }
      
    .container * {
        box-sizing: border-box;
    }
      
    .flexouter,
    .flexinner {
        list-style-type: none;
        padding: 0;
    }
      
    .flexouter {
        max-width: 800px;
        margin: 0 auto;
    }
      
    .flexouter li {
        display: flex;
        flex-direction: column;
    }
      
    .flexinner {
        display: flex;
        padding: 0 8px;
    }
      
    .flexouter > li:not(:last-child) {
        margin-bottom: 20px;
    }
      
    .flexouter li label,
    .flexouter li p {
        padding: 8px;
        font-weight: 300;
        letter-spacing: .09em;
    }
      
    .flexouter > li > label,
    .flexouter li p {
        max-width: 220px;
    }
      
    .flexouter li p {
        margin: 0;
    }
      
    .flexouter li input:not([type='checkbox']),
    .flexouter li textarea {
        padding: 5px;
    }
      
    .flexinner li {
        width: 100px;
    }

    .select {
        height: 30px;
    }
   
    .actionsContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
    } 
      
    .postBtn {
        width: 200px;
        margin-top: 10px;
        cursor: pointer;
        font-weight: 500;
        padding: 11px 28px;
        font-size: 1.2rem;
        border: none;
        color: #fff;
        background: #2C0707;
        position: relative;
    }
      
    .postBtn:hover {
        background: #571515;
    }

    .postBtn:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: -5px;
        left: -5px;
        border-top: 2px solid #2C0707;
        border-left: 2px solid #2C0707;
    }

    .postBtn:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #2C0707;
        border-right: 2px solid #2C0707;
    }
      
    .cancelBtn {
        width: 200px;
        margin-top: 10px;
        cursor: pointer;
        font-weight: 500;
        padding: 11px 28px;
        font-size: 1.2rem;
        border: none;
        background: #E57373;
        position: relative;
    }
      
    .cancelBtn:hover {
        background: #d37474;
    }

    .cancelBtn:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: -5px;
        left: -5px;
        border-top: 2px solid #E57373;
        border-left: 2px solid #E57373;
    }

    .cancelBtn:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #E57373;
        border-right: 2px solid #E57373;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .darkBG {
        background-color: rgba(0, 0, 0, 0.555);
        width: 100vw;
        height: 100vh;
        z-index: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
    }
      
    .centered {
        z-index: 10001;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
      
    .modal {
        width: 570px;
        height: 650px;
        background: white;
        color: white;
        z-index: 10;
        border-radius: 16px;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    }
      
    .modalHeader {
        height: 70px;
        background: white;
        overflow: hidden;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
      
    .heading {
        margin: 0;
        padding: 10px;
        color: black;
        font-weight: 500;
        font-size: 60px;
        text-align: center;
    }
      
    .modalContent {
        padding: 10px;
        font-size: 18px;
        color: black;
    }

    .modalContent input, 
    .modalContent select,
    .modalContent textarea {
        font-size: 18px;
        border: 1px solid black;
    }

    .require {
        text-align: center;
    }

    .hr {
        width: 90%;
    }

    .container {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
    }
      
    .container * {
        box-sizing: border-box;
    }
      
    .flexouter,
    .flexinner {
        list-style-type: none;
        padding: 0;
    }
      
    .flexouter {
        max-width: 800px;
        margin: 0 auto;
    }
      
    .flexouter li,
    .flexinner {
        display: flex;
        flex-wrap: wrap; 
        align-items: center;
    }
      
    .flexinner {
        padding: 0 8px;
        justify-content: space-between;  
    }
      
    .flexouter > li:not(:last-child) {
        margin-bottom: 20px;
    }
      
    .flexouter li label,
    .flexouter li p {
        padding: 8px;
        font-weight: 300;
        letter-spacing: .09em;
    }
      
    .flexouter > li > label,
    .flexouter li p {
        flex: 1 0 120px;
        max-width: 220px;
    }
      
    .flexouter > li > label + *,
    .flexinner {
        flex: 1 0 220px;
    }
      
    .flexouter li p {
        margin: 0;
    }
      
    .flexouter li input:not([type='checkbox']),
    .flexouter li textarea {
        padding: 15px;
    }

    .select {
        height: 30px;
    }
      
    .flexinner li {
        width: 100px;
    }
      
    .modalActions {
        position: absolute;
        bottom: 2px;
        margin-bottom: 30px;
        width: 100%;
    }
      
    .actionsContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
      
    .postBtn {
        width: 200px;
        margin-top: 10px;
        cursor: pointer;
        font-weight: 500;
        padding: 11px 28px;
        font-size: 1.2rem;
        border: none;
        color: #fff;
        background: #2C0707;
        position: relative;
    }
      
    .postBtn:hover {
        background: #571515;
    }

    .postBtn:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: -5px;
        left: -5px;
        border-top: 2px solid #2C0707;
        border-left: 2px solid #2C0707;
    }

    .postBtn:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #2C0707;
        border-right: 2px solid #2C0707;
    }
      
    .cancelBtn {
        width: 200px;
        margin-top: 10px;
        cursor: pointer;
        font-weight: 500;
        padding: 11px 28px;
        font-size: 1.2rem;
        border: none;
        background: #E57373;
        position: relative;
    }
      
    .cancelBtn:hover {
        background: #d37474;
    }

    .cancelBtn:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: -5px;
        left: -5px;
        border-top: 2px solid #E57373;
        border-left: 2px solid #E57373;
    }

    .cancelBtn:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #E57373;
        border-right: 2px solid #E57373;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .modal {
        width: 700px;
    }
      
    .heading {
        font-size: 62px;
    }
      
    .modalContent {
        font-size: 22px;
    }

    .modalActions {
        margin-bottom: 40px;
    }
}
