/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .red {
        margin-left: 10px;
        font-size: 25px;
        cursor: pointer;
        color: red;
        position: absolute;
    }
    
    .blank {
        margin-left: 10px;
        font-size: 25px;
        cursor: pointer;
        color: white;
        position: absolute;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .red {
        margin-left: 10px;
        font-size: 25px;
        cursor: pointer;
        color: red;
        position: absolute;
    }
    
    .blank {
        margin-left: 10px;
        font-size: 25px;
        cursor: pointer;
        color: white;
        position: absolute;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .red {
        margin-left: 10px;
        font-size: 18px;
        cursor: pointer;
        color: red;
        margin-right: 5px;
    }
    
    .blank {
        margin-left: 10px;
        font-size: 18px;
        cursor: pointer;
        color: white;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .red {
        margin-left: 10px;
        font-size: 25px;
        cursor: pointer;
        color: red;
        margin-top: 10px;
    }
    
    .blank {
        margin-left: 10px;
        font-size: 25px;
        cursor: pointer;
        color: white;
        margin-top: 10px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .red {
        margin-left: 10px;
        font-size: 25px;
        cursor: pointer;
        color: red;
        position: absolute;
    }
    
    .blank {
        margin-left: 10px;
        font-size: 25px;
        cursor: pointer;
        color: white;
        position: absolute;
    }
}
