/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer {
        margin-top: auto;
        height: 250px;
        background-color: black;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .contact {
        color: white;
    }
    
    .list {
        list-style: none;
        color: white;
        padding: 0;
    }

    .list span {
        font-size: 16px;
        margin-left: 5px;
    }

    .list .face {
        margin-left: 0;
    }

    .logo {
        text-align: center;
        font-size: 20px;
    }

    .logoName{
        color: white;
        text-decoration: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .footer {
        margin-top: auto;
        height: 120px;
        background-color: black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .contact {
        color: white;
    }
    
    .list {
        list-style: none;
        color: white;
        padding: 0;
    }

    .list span {
        font-size: 16px;
        margin-left: 5px;
    }

    .list .face {
        margin-left: 0;
    }

    .logo {
        text-align: center;
        font-size: 20px;
    }

    .logoName{
        color: white;
        text-decoration: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .footer {
        margin-top: auto;
        height: 120px;
        background-color: black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .contact {
        color: white;
    }
    
    .list {
        list-style: none;
        color: white;
        padding: 0;
    }

    .list span {
        font-size: 16px;
        margin-left: 5px;
    }

    .list .face {
        margin-left: 0;
    }

    .logo {
        text-align: center;
        font-size: 25px;
    }

    .logoName{
        color: white;
        text-decoration: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .footer {
        margin-top: auto;
        height: 120px;
        background-color: black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .contact {
        color: white;
    }
    
    .list {
        list-style: none;
        color: white;
        padding: 0;
    }

    .list span {
        font-size: 16px;
        margin-left: 5px;
    }

    .list .face {
        margin-left: 0;
    }

    .logo {
        text-align: center;
        font-size: 25px;
    }

    .logoName{
        color: white;
        text-decoration: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .footer {
        margin-top: auto;
        height: 120px;
        background-color: black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .contact {
        color: white;
    }
    
    .list {
        list-style: none;
        color: white;
        padding: 0;
    }

    .list span {
        font-size: 16px;
        margin-left: 5px;
    }

    .list .face {
        margin-left: 0;
    }

    .logo {
        text-align: center;
        font-size: 25px;
    }

    .logoName{
        color: white;
        text-decoration: none;
    }
}