.hero {
    position: relative;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(80%);
}

.herocontent {
    position: relative;
    color: black;
    text-align: center;
}

.herotitle {
    font-size: 80px;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.493);
    padding: 50px;
}

 
 