/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero {
        position: relative;
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        filter: brightness(80%);
    }
    
    .herocontent {
        position: relative;
        color: white;
        text-align: center;
    }
    
    .herotitle {
        font-size: 60px;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.411);
        padding: 50px;
        letter-spacing: 5px;
    }

    .herotitle a {
        color: white;
        text-decoration: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hero {
        position: relative;
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        filter: brightness(80%);
    }
    
    .herocontent {
        position: relative;
        color: white;
        text-align: center;
    }
    
    .herotitle {
        font-size: 70px;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.411);
        padding: 50px;
        letter-spacing: 5px;
    }

    .herotitle a {
        color: white;
        text-decoration: none;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .herotitle {
        font-size: 80px;
    }
}