/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .popupbox {
        position: fixed;
        background: #00000081;
        width: 70%;
        height: 40vh;
        top: 200px;
        left: 60px;
        z-index: 1;
    }

    .popupbox p { 
        color: black;
    }
       
    .box {
        position: relative;
        width: 80%;
        margin: 0 auto;
        height: 200px;
        max-height: 70vh;
        margin-top: 30px;
        background: #fff;
        border-radius: 4px;
        padding: 40px;
        border: 1px solid #999;
        overflow: hidden;
        text-align: center;
        font-size: 25px;
        top: 25px;
    }

    .closebtn {
        width: 140px;
        height: 30px;
        border-radius: 25px;
        background-color: #2C0707;
        border-color: #2C0707;
        color: white;
    }

    .closebtn:hover {
        background-color: #E57373;
        border-color: #E57373;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .popupbox {
        position: fixed;
        background: #00000081;
        width: 80%;
        height: 40vh;
        top: 200px;
        left: 50px;
        z-index: 1;
    }

    .popupbox p { 
        color: black;
    }
       
    .box {
        position: relative;
        width: 80%;
        margin: 0 auto;
        height: 200px;
        max-height: 70vh;
        margin-top: 34px;
        background: #fff;
        border-radius: 4px;
        padding: 30px;
        border: 1px solid #999;
        overflow: hidden;
        text-align: center;
        font-size: 25px;
        top: 25px;
    }

    .closebtn {
        width: 290px;
        height: 30px;
        border-radius: 25px;
        background-color: #2C0707;
        border-color: #2C0707;
        color: white;
        margin-top: 20px;
        font-size: 15px;
    }

    .closebtn:hover {
        background-color: #E57373;
        border-color: #E57373;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .popupbox {
        left: 70px;
    }

    .box {
        font-size: 30px;
        top: 20px;
    }

    .closebtn {
        width: 340px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .popupbox {
        left: 140px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .popupbox {
        width: 50%;
        left: 380px;
    }

    .box {
        top: 40px;
    }
}

