@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Dancing+Script:wght@600&family=Indie+Flower&family=Roboto&family=Shadows+Into+Light&family=Yanone+Kaffeesatz&display=swap');

body {
    height: 100vh;
    padding: 0;;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    flex-direction: column; 
    overflow-x: hidden;
    background-color: #010101;
}