/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero {
        width: 100%;
        height: 200px;
        background-image: url("../../assets/images/hero/wp2382683.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container {
        color: white;
        margin: 30px;
    }

    .image {
        padding: 20px;
    }

    .image img {
        width: 100%;
    }

    .data {
        padding: 20px;
    }

    .data h1 {
        font-size: 40px;
        margin: 0;
    } 
    
    .data .ingredientstitle {
        font-size: 22px;
    }

    .reviewbtn {
        font-size: 15px;
        margin-bottom: 8px;
        background-color: black;
        border: none;
        color: white;
        cursor: pointer;
    }

    .price, .ingredients {
        font-size: 15px;
    }

    .price p, .ingredients p {
        margin-top: 0;
    }

    .about {
        text-align: justify;
        font-size: 15px;
    }

    .buybtn {
        border: none;
        padding: 12px 40px;
        background-color: #2C0707;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
    }

    .buybtn:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top: -5px;
        left: -5px;
        border-top: 2px solid #8F4848;
        border-left: 2px solid #8F4848;
        transition: all 0.25s;
    }
      
    .buybtn:hover:before,
    .buybtn:hover:after {
        height: 100%;
        width: 100%;
    }
      
    .buybtn:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #8F4848;
        border-right: 2px solid #8F4848;
        transition: all 0.25s;
    }

    .reviewscontainer {
        color: white;
        margin-bottom: 40px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reviewstitle {
        font-size: 30px;
        margin-left: 15px;
    }

    .reviewcontainer {
        background-color: white;
        color: black;
        width: 310px;
        margin-left: 15px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }

    .personaldata {
        flex-basis: 30%;
    }

    .reviewdata {
        flex-basis: 70%;
    }

    .icon {
        margin-left: 5px;
        margin-right: 5px;
    }

    .yes {
        color: green;
        font-size: 14px;
    }

    .no {
        color: red;
        font-size: 12px;
    }

    .backlink {
        color: white;
        font-size: 20px;
        margin-left: 25px;
        text-decoration: underline #8F4848;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .hero {
        width: 100%;
        height: 200px;
        background-image: url("../../assets/images/hero/wp2382683.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container {
        color: white;
        margin: 30px;
    }

    .image {
        padding: 20px;
    }

    .image img {
        width: 100%;
    }

    .data {
        padding: 20px;
    }

    .data h1 {
        font-size: 60px;
        margin: 0;
    } 
    
    .data .ingredientstitle {
        font-size: 22px;
    }
    
    .reviewlink {
        display: flex;
    }

    .reviewbtn {
        font-size: 16px;
        margin-bottom: 4px;
        background-color: black;
        border: none;
        color: white;
        cursor: pointer;
    }

    .price, .ingredients {
        font-size: 15px;
    }

    .price p, .ingredients p {
        margin-top: 0;
    }

    .about {
        text-align: justify;
        font-size: 15px;
    }

    .buybtn {
        border: none;
        padding: 12px 40px;
        background-color: #2C0707;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
    }

    .buybtn:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        top: -5px;
        left: -5px;
        border-top: 2px solid #8F4848;
        border-left: 2px solid #8F4848;
        transition: all 0.25s;
    }
      
    .buybtn:hover:before,
    .buybtn:hover:after {
        height: 100%;
        width: 100%;
    }
      
    .buybtn:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: -5px;
        right: -5px;
        border-bottom: 2px solid #8F4848;
        border-right: 2px solid #8F4848;
        transition: all 0.25s;
    }

    .reviewscontainer {
        color: white;
        margin-bottom: 40px;
    }

    .reviewstitle {
        font-size: 50px;
        margin-left: 30px;
    }

    .reviewcontainer {
        background-color: white;
        color: black;
        width: 550px;
        margin-left: 30px;
        padding: 10px;
        display: flex;
        margin-bottom: 5px;
    }

    .personaldata {
        flex-basis: 30%;
    }

    .reviewdata {
        flex-basis: 70%;
    }

    .icon {
        margin-left: 5px;
        margin-right: 5px;
    }

    .yes {
        color: green;
        font-size: 14px;
    }

    .no {
        color: red;
        font-size: 12px;
    }

    .backlink {
        color: white;
        font-size: 20px;
        margin-left: 25px;
        text-decoration: underline #8F4848;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        display: flex;
        justify-content: space-around;
    }

    .image {
        text-align: center;
        width: 800px;
    }

    .data {
        width: 800px;
    }

    .price, .ingredients {
        font-size: 18px;
    }

    .reviewstitle {
        margin-left: 50px;
    }

    .reviewcontainer {
        width: 680px;
        margin-left: 50px;
        padding: 10px;
        display: flex;
        margin-bottom: 5px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .reviewstitle {
        margin-left: 100px;
    }

    .reviewcontainer {
        width: 800px;
        margin-left: 100px;
    }
     
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .data h1 {
        font-size: 80px;
    } 
     
    .reviewbtn {
        font-size: 18px;
    }

    .price, .ingredients {
        font-size: 20px;
    }

    .about {
        text-align: justify;
        font-size: 20px;
    }
 
    .reviewstitle {
        margin-left: 80px;
    }
 
    .reviewcontainer {
        width: 90%;
        margin-left: 80px;
    }
}